<style>
  .even {
    background: white;
  }

  .odd {
    background: #EEF7FB;
  }
</style>
<% @employees = Employee.paginate(:page => params[:page]) %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Employee Details</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <table class="table sortable">
        <thead>
        <th>
          <center>Name</center>
        </th>
        <th>
          <center>ID</center>
        </th>
        <th>
          <center>CPU CODE</center>
        </th>
        <th>
          <center>Dept</center>
        </th>
        <th>
          <center>Ext</center>
        </th>
        <th>
          <center>IP Phone</center>
        </th>
        <th>
          <center>Headphone</center>
        </th>
        <th>
          <center>LED</center>
        </th>
        <th>
          <center>Keyboard</center>
        </th>
        <th>
          <center>Mouse</center>
        </th>
        <th>
          <center>VGA Card</center>
        </th>
        <th>
          <center>Laptop</center>
        </th>
        <th class="sorttable_nosort">
          <center>Edit/Delete</center>
        </th>
        </thead>
        <% @employees.order("employee_id ASC").each do |employee| %>
            <tr class="<%= cycle("even", "odd") %>">
              <td><center><%= link_to employee.name, employee %></td></center>
              <td><center><%= employee.employee_id %></td></center>
              <td><center><%= employee.cpu_code %></center></td>
              <td><center><%= employee.department %></center></td>
              <td><center><%= employee.extension %></center></td>
              <td><center><%= employee.ip_phone %></center></td>
              <td><center><%= employee.headphone %></center></td>
              <td><center><%= employee.led %></center></td>
              <td><center><%= employee.keyboard %></center></td>
              <td><center><%= employee.mouse %></center></td>
              <td><center><%= employee.vga_card %></center></td>
              <td><center><%= employee.laptop %></center></td>
              <td>
                <center><%= link_to '', edit_employee_path(employee), :class => "fa fa-edit" %>
                  |  <%= link_to content_tag(:i, nil, :class => "fa fa-trash-o"), employee, data: {confirm: 'Are you sure you want to delete this item?'}, method: :delete %></center>
              </td>
            </tr>
        <% end -%>
        <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="container">
      <h2>Total Summary</h2>
      <p>Summarized detail of all the inventory currently being used by the employees.</p><br>
      <div class="panel-group">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading blue">Total Employees = <strong><%= Employee.count %></strong></div>
              <div class="panel-body">
                Billing = <%= Employee.where(department: "Billing").count %><br>
                Credentialing = <%= Employee.where(department: "Credentialing").count %><br>
                Hedis = <%= Employee.where(department: "Hedis").count %><br>
                IT = <%= Employee.where(department: "IT").count %><br>
                Finance = <%= Employee.where(department: "Finance").count %><br>
                ECL = <%= Employee.where(department: "ECL").count %><br>
                QC = <%= Employee.where(department: "QC").count %><br>
                Marketing = <%= Employee.where(department: "Marketing").count %><br>
                HR = <%= Employee.where(department: "HR").count %>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading blue">Total Headphone =
                <strong><%= Employee.where.not(headphone: 'No').count %></strong></div>
              <div class="panel-body">
                A4Tech = <%= Employee.where(headphone: "A4Tech").count %><br>
                Logitech = <%= Employee.where(headphone: "Logitech").count %><br>
                Local = <%= Employee.where(headphone: "Local").count %>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading blue">Total IP Phone
                =<strong> <%= Employee.where.not(ip_phone: 'No').count %></strong></div>
              <div class="panel-body">
                Grandstream = <%= Employee.where(ip_phone: "GrandStream").count %><br>
                D-Link = <%= Employee.where(ip_phone: "D-Link").count %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading blue">Total LED's = <strong>40</strong></div>
              <div class="panel-body">Dell = <br>
                HP = <br>
                ACER = <br>
                SonicView = <br>
                Samsung = <br>
                Asus = <br>
                BenQ = <br>
                EDGE10 = <br>
                Lenovo = <br>
                LG = <br>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading blue">Total Mouse =
                <strong><%= Employee.where("mouse is NOT NULL").count %></strong></div>
              <div class="panel-body">
                IBM = <%= Employee.where(mouse: "IBM").count %><br>
                Dell = <%= Employee.where(mouse: "Dell").count %><br>
                HP = <%= Employee.where(mouse: "HP").count %><br>
                Microsoft = <%= Employee.where(mouse: "Microsoft").count %><br>
                Wyse = <%= Employee.where(mouse: "Wyse").count %><br>
                Logitech = <%= Employee.where(mouse: "Logitech").count %><br>
                Acer = <%= Employee.where(mouse: "Acer").count %>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading blue">Total Keyboard =
                <strong> <%= Employee.where("keyboard is NOT NULL").count %></strong></div>
              <div class="panel-body">
                IBM = <%= Employee.where(keyboard: "IBM").count %><br>
                Dell = <%= Employee.where(keyboard: "Dell").count %><br>
                HP = <%= Employee.where(keyboard: "HP").count %><br>
                Acer = <%= Employee.where(keyboard: "Acer").count %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <center>
      <div class="pagination">
        <div class="page_info">
          <%= page_entries_info @employees %>
        </div>
        <%= will_paginate @employees, renderer: BootstrapPagination::Rails %>
      </div>
    </center>
  </div>
</div>